@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import "tailwindcss";
@import "tailwindcss-animated";
@import './styles/globals.css';

body {
  @apply m-0;
  @apply p-0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: 'Bitcount';
  src: url('../public/fonts/Bitcount.woff2') format('woff2-variations');
  font-weight: 100 1000;
  font-style: normal;
  font-display: swap;

}

.font-pixel {
  font-family: 'Bitcount', 'Futura';
}

@keyframes yellow-glow {

  0%,
  100% {
    text-shadow: 0 0 3px #ffd9008b, 0 0 5px #ffd9008b;
  }

  50% {
    text-shadow: 0 0 10px #ffd9008b, 0 0 15px #ffd9008b;
  }
}

.animate-yellow-glow {
  animation: yellow-glow 4s ease-in-out infinite;
}